.root {
  flex-shrink: 0;
  padding: 5rem 2rem;
  font-size: 1.8rem;
  text-align: center;
  color: #7d93aa;
  box-shadow: inset 0 0.75rem 0.75rem -0.75rem rgba(0, 0, 0, 0.2),
    inset 0 -0.75rem 0.75rem -0.75rem rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(0deg, #dae6f1, #fafcff);
}

.root p {
  max-width: 36rem;
  margin: 0 auto;
}
